@media screen and (min-width: 414px) {
    body {
        background-image: url(./images/clouds.jpg);
        background-repeat: no-repeat;
        margin: 0 30px;
        height: 100vh;
        display: flex;
        flex-direction: column;
       

    }

/*
    img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
    }
*/


    .container-logo {
        width: 100%;
        text-align: center;
        margin-top: 50px
    }
    
    .image-logo {
        width: 150px;
    }
    
    
    .container-arrows {
        display: flex;
        justify-content: space-between;
       
    }
    
    .arrow {
        width: 100px;
    }


}
